
<div id="navigation">
	<ul class="top-level">
		<li class="current"><%= link_to "Personal", basketball_personal_path %><br /></li>
		<li><%= link_to "Stats", basketball_stats_path %><br /></li>
		<li><%= link_to "Video", basketball_video_path %><br /></li>

	</ul>
	
</div>


	  
<br />
