<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Micropost</title>
		  <%= stylesheet_link_tag "main_layout" %>

		</head>
<body>
		<!-- Begin Intro -->
			<div id="company_intro">
				<div id="content">
					<h5>Your Profile!</h5>
				</div>
			</div>
		  <!-- End Intro -->


			<div id="section_profile" class="section_profile">
						<div id="main_body">
							<div id="header">
								<h1 class="message"></h1>
							</div>
			</div>
									
								    <td class="main">
      <h1>	  
        <%= @user.name %>
      </h1>


    </td>
   
  </tr>

</table>
			
<div>



<h1>Edit Your Basketball Personal Information!</h1>
		<%= render 'basketball_links'  %>

</div>
		<%= render 'personal' %>
	
</body>

	</html>






