<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
		<%= stylesheet_link_tag "layout_main.css" %>
</head>

	<body>
		<!-- BEGIN Main Header -->
		<div id="header-bar">

		</div>
		<!-- END Main Header -->

		<div id="preview2" >
			 <h1>	  
        <%= @user.name %>
      </h1>
			<div class="personal"><%= render 'personal' %></div>
		 <%= render 'basketball_links'  %>

		

		</div>

			
	</body>

</html>
