<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
	</head>
	
 <body>
		<!-- BEGIN Main Header -->
		 <div class="navbar">
   		<div class="navbar-inner">
   		 <div class="container">
					<a class="brand" href="#">ScoutBuzz</a>
					<ul style="margin-left: 165px; margin-top: 10px;" class="nav pull-right">
						<li>
							
						</li>

					</ul>
  		 </div>
    	</div>
    </div>
		<!-- END Main Header -->

		<div id="criteria_box" >
		<div id="criteria_top">Get Started!</div>
	
			<%= render 'criteria' %>
		</div>

	</body>

</html>
