<%= form_for Micropost.new do |f| %>

  <div class="post_area">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
	</div><br />

  <%= f.submit "Post", :class => "button" %>
<% end %>
