<%= form_for Micropost.new do |f| %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", :cols => 25, :rows => 5 %>
	</div>
 <div class="actions">
    <%= f.submit "Post" %>
 </div>
<% end %>
