<%= form_for Micropost.new do |f| %>

 <ul>
    <li><%= f.text_area :content, :rows => 4, :cols => 5, placeholder: "Compose new micropost...", :class => "micro_posts"  %></li>

  <li style="padding-top: 5px;"><%= f.submit "Post", :class => "btn btn_profile2" %></li>
<ul>
<% end %>
